### Configuration file for the reverse docking procedure ###
###
### change file names according with your paths ####
###

[PATHS]
# Specific input/output files
adfr_path = /hpc/home/marco.malatesta/revdocking/ADFRsuite_x86_64Linux_1.0/ADFRsuite-1.0/bin
Ligand = ../PYR_PLP.pdbqt            # ligand file
reactions_file = ../PYR_PLP.txt
receptor_dir = /hpc/archive/G_BIOSCIENZE/marco.malatesta/PLP_enzymes/Mus_musculus/AF_db/
coord_file = /hpc/archive/G_BIOSCIENZE/marco.malatesta/PLP_enzymes/Mus_musculus/AF_db/Mus_musculus_coord.csv
outdir = /hpc/archive/G_BIOSCIENZE/marco.malatesta/paper_carnitine/OSMES_PYR # directory of results

[GPF]
spacing=0.2
pocketMode = all

[DPF]
maxEvals = 50000000
nbRuns = 200
maxCores = 0 # Set 0 to use all cores available
clusteringRMSDCutoff = 3
popSize = 300 

[OTHER]
imgFormat = pdf
flex_lysine = True 
lig_res = PYR

