[PATHS]
# Specific input/output files
adfr_path = ADFRsuite-1.0/bin
Ligand = test/HTL_PLP.pdbqt # substrate file
reactions_file = test/HTL_PLP.txt # file with the atoms for the catalyitic favourable conformations and the gridbox sizes
receptor_dir = test/Mus_musculus/ # path to enzyme pdb files
coord_file = test/Mus_musculus/Mus_musculus_coord_mini.csv # coordinates file for every active site consdered in the enzymes set with specified center of the gridbox
outdir = test/OSMES_results # directory of results

[GPF]
spacing=0.375 
pocketMode = all

[DPF]
maxEvals = 5000000
nbRuns = 20
maxCores = 0 # Set 0 to use all cores available
clusteringRMSDCutoff = 3
popSize = 300 

[OTHER]
imgFormat = pdf
flex_lysine = True # keep catalytic lysine as flexible receptor
lig_res = HTL # substrate residue name of pdbqt file
